{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Parolni qayta tiklash{% endblock title %}

{% block content %}
	<div id="contentForm">
		<h1>Parolingizni unutdingizmi ?</h1>
		<hr>
		<p>Parolni qayta tiklash uchun quyidagi oynaga Email manzilingizni yozing, biz sizga yo'riqnomani jo'natamiz.</p>
		<form class="form" method="post">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="btn btn-success my-2">Jo'natish</button>
		</form>			
	</div>
{% endblock content %}