{% extends 'base.html' %}
{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
<div class="box">
	<div class="container">
		<h1>Assalomu Alaykum</h1>
		<hr>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur distinctio rerum illo quod culpa expedita optio maiores beatae doloremque. Minima omnis fuga aut numquam, eveniet modi, porro repudiandae neque et itaque nisi excepturi reprehenderit perferendis? Nulla quo ab omnis maxime?</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse veniam perferendis facere tenetur dolorem repudiandae temporibus, in itaque fugiat inventore eaque saepe debitis nobis minus sint mollitia vitae, magnam suscipit? Obcaecati, vel dolorum.</p>
		<hr>
		<a href="{% url 'article_list' %}" role="button" class="btn btn-primary my-2">Postlar</a>	
	</div>
</div>
{% endblock content %}